<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

<context:property-placeholder location="classpath:application.properties" />


<bean id="DataDrivenExcel" class="com.das.datadriven.DataDrivenExcel"></bean>
<bean id="DataDrivenTest" class="com.das.datadriven.DataDrivenTest"></bean>

<!--  <bean id="DriverInitialization" class="com.das.common.DriverInitialization">
</bean> -->

<!-- <bean id="PerformOperation" class="com.das.validation.PerformOperation">
<constructor-arg ref="WebDriverLibrary"></constructor-arg>
<property name="appUrl" value="${app.url}" />
</bean> -->

<bean id="FlouroFinderPerformTasks" class="com.das.validation.FlouroFinderPerformTasks">
<property name="appUrl" value="${app.url}" />
</bean>

<bean id="ThreadStabilization" class="com.das.validation.ThreadStabilization">
<property name="browser" value="${browser}" />
</bean>



<!-- <property name="WebDriverLibrary" ref = "WebDriverLibrary"></property> -->



</beans>